<div class="row" style="height: 25px"></div>

<div class="row" style="font-family: 'Raleway'">
  <div class="col">
    <div class="card-columns">
        <div class="card">
            <div class="card-header">
                Tableau reports
            </div>
            <div class="card-block">
                <p class="card-text">Explore tableau repository</p>
                <a href="#" class="btn btn-primary">View</a>
            </div>
        </div>

        <div class="card">
            <div class="card-header">
                SSRS reports
            </div>
            <div class="card-block">
                <p class="card-text">Explore SSRS reports</p>
                <a href="#" class="btn btn-primary">View</a>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Database
            </div>
            <div class="card-block">
                <p class="card-text">View direct data sources such as SQL Server, HANA, etc.</p>
                <a href="#" class="btn btn-primary">View</a>
            </div>
        </div>  
        <div class="card">
            <div class="card-header">
                Office 365 Documents
            </div>
            <div class="card-block">
                <p class="card-text">View shared Office 365 documents</p>
                <a href="#" class="btn btn-primary">View</a>
            </div>
        </div>
	<div class="card">
            <div class="card-header">
                Spreadsheet/CSV
            </div>
            <div class="card-block">
                <p class="card-text">View shared documents such as Excel, CSV</p>
                <a href="#" class="btn btn-primary">View</a>
            </div>
        </div>
    </div>
</div>
