<script type='text/javascript' src='https://dashboard.mckesson.com/javascripts/api/tableau-2.0.0.min.js'></script>
<script type='text/javascript'>
    (function($){
        $('.actions.display_summary').ready(function() {
           //debugger;
           var vizDiv = document.getElementById("vizSummary");
           var url = "<%= @url %>"

           var options = {
             width: '100%',
             height: '100%',
             toolbar: 'no',
             showAppBanner: 'false',
             showShareOptions: 'true',
             onFirstInteractive: function () {
                workbook = viz.getWorkbook();
                activeSheet = workbook.getActiveSheet();
              }             
           }       
           viz = new tableau.Viz(vizDiv, url, options);          
        });
      })(jQuery);
</script>  
<div class="row" style="height:25px"></div>
<div class="row">
    <div class="col-2 border" style>
            <div class="list-group">
                    <a class="list-group-item" href="#"><i class="fa fa-info fa-1x fa-fw" aria-hidden="true"></i>&nbsp; Summary</a>
                    <a class="list-group-item" href="#"><i class="fa fa-check-circle-o fa-1x fa-fw" aria-hidden="true"></i>&nbsp; Data Validation</a>
                    <a class="list-group-item" href="#"><i class="fa fa-binoculars fa-1x fa-fw" aria-hidden="true"></i>&nbsp; Data Viewer</a>
                    <a class="list-group-item" href="#"><i class="fa fa-bar-chart fa-1x fa-fw" aria-hidden="true"></i>&nbsp; Analysis</a>
            </div>                     
    </div>    
    <div class="col-9">
        <div id="vizSummary" style="height: 500px;"></div>            
    </div>
    <div class="col-1"></div>
</div>           
