<div class="row" style="margin:0.5cm">
    <div class="col-sm-6">
        <div class="card text-center">
            <div class="card-header">
                <h4>SQL Server</h4>
            </div>
            <%= image_tag 'mssql.png', height: 100 %>
            <div class="card-block text-left">
                <ul>
                    <li>ISMC Rebate Information (Total Rewards)</li>
                    <li>Leakage Information</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card text-center">
            <div class="card-header">
                <h4>HANA</h4>
            </div>
<%= image_tag 'hana.png' , height: 100, width: 400%>
            <div class="card-block text-left">
                <ul>
                    <li>Material Item (Sandbox)</li>
                    <li>Customer Info (Sandbox) </li>
                </ul>
            </div>
        </div>
    </div>    
</div>
<div class="row" style="margin:0.5cm">
    <div class="col-sm-6">
        <div class="card text-center">
            <div class="card-header">
                <h4>3rd Party data sources</h4>
            </div>
<%= image_tag 'cloud.png' , height: 100, width: 150%>
            <div class="card-block text-left">
                <ul>
                    <li>FDA NDC Listing</li>
                    <li>More to come!</li>
                </ul>
            </div>
        </div>
    </div>
</div>
